@font-face {
    font-family: 'Poppins-Medium';
    src: url('Poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('Poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'Poppins-Semi-Bold';
    src: url('Poppins/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'Poppins-Normal';
    src: url('Poppins/Poppins-Regular.ttf');
}



* {
    padding: 2px;
    padding-top: 0px;
    background: rgb(243, 243, 243);
    
}

body {
    height: 450px;
    width: 300px
}

#summarize-button:hover {
    background-color: rgb(50, 50, 50);
}

.header {
    height: 40px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid rgb(228, 228, 228);
}

.logo {
    vertical-align: middle;

}
.logo img {
    max-width: 100px;
    max-height: 100px;

}

#summarizeBtn {

    width: 100%;
    height: 35px;
    border-radius: 5px;
    background-color: #4169E1;
    color: white;
    border: none;
    font-family: Poppins-Semi-Bold;

}

#summarizeBtn:hover {
    background-color: #4166d7;
    cursor: pointer;
}

#text {
    resize: none;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    height: 250px;
    font-family: Poppins-Normal;
    font-size: 12px;
    border: none;
    background: white;
}

#text:focus {
    outline: none;
}

.webpage {
    display: flex;
    justify-content: left;
    height: 30px;
    border-radius: 5px;
    padding: 0;
    margin-top: 10px;
    align-items: center;
    background-color: #FFD700;

}

.webpage img {
    max-height: 15px;
    max-width: 15px;
    border-radius: 10px;
    margin-left: 5px;
    background-color: #FFD700;
}

.webpage p {
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Poppins-Normal;
    white-space: nowrap;
    color: black;
    margin-left: 5px;
    background-color: #FFD700;
    margin-right: 5px;
}

